.imgadm {
    border-radius: 8px;
    width: 500px;
    height: 270px;
    float: left;
    margin-right: 10px;
}

.imgtecinfo {
    border-radius: 8px;
    width: 500px;
    height: 380px;
    float: left;
    margin-right: 10px;
}

.imgtecdev {
    border-radius: 8px;
    width: 500px;
    height: 270px;
    float: left;
    margin-right: 10px;
}
.imgrsti1 {
    border-radius: 8px;
    width: 500px;
    height: 270px;
    float: left;
    margin-right: 10px;
}
.imgrsti2 {
    border-radius: 8px;
    width: 533px;
    height: 150px;
    float: left;
    margin-right: 10px;
}
.imgrsti3{
    border-radius: 8px;
    width: 533px;
    height: 250px;
    float: left;
    margin-right: 10px;
}