.imgtecadm0 {
    border-radius: 8px;
    width: 500px;
    height: 320px;
    float: left;
    margin-right: 10px;
}
.imgtecadm1 {
    border-radius: 8px;
    width: 500px;
    height: 320px;
    float: left;
    margin-right: 10px;
}
