.imgrsti1 {
    border-radius: 8px;
    width: 450px;
    height: 270px;
    float: left;
    margin-right: 10px;
}
.mercadobrasileirorsti {
    border-radius: 8px;
    width: 1000px;
    height: 250px;
    float: left;
    margin-right: 10px;
}
#divbotao{
    width: 100%;
    display: flex;
}
#divbotao1{
    width: 50%;
}
#divbotao2{
    width: 50%;
}