.imgadm {
    border-radius: 8px;
    width: 33%;
    height: auto;
    float: left;
    margin-right: 10px;
}

.imgtecinfo {
    border-radius: 8px;
    width: 33%;
    height: auto;
    float: left;
    margin-right: 10px;
}

.imgtecdev {
    border-radius: 8px;
    width: 33%;
    height: auto;
    float: left;
    margin-right: 10px;
}
.imgrsti1 {
    border-radius: 8px;
    width: 33%;
    height: auto;
    float: left;
    margin-right: 10px;
}
.imgrsti2 {
    border-radius: 8px;
    width: 33%;
    height: auto;
    float: left;
    margin-right: 10px;
}
.imgrsti3{
    border-radius: 8px;
    width: 33%;
    height: auto;
    float: left;
    margin-right: 10px;
}